<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="allRecipeData.length > 0; else noData" class="flex flex-column gap-3 bg-gray-50 w-full h-screen">
    <input type="text" pInputText [formControl]="searchInput"
        placeholder="Type Recipe Name to Filter (Atleast 3 letter)" class="w-full" />
    <div class="flex flex-wrap gap-3 flex-row" *ngIf="viewedData.length > 0; else chageSearchParams">
        <div *ngFor="let recipe of viewedData" class="hover:shadow-6">
            <p-card header="{{recipe.name}}" subheader="{{recipe.type}}" class="cursor-pointer hover:shadow-6 z-0"
                (click)="viewRecipe(recipe)">
                <p *ngFor="let ing of recipe?.ingredients?.slice(0, 3)">
                    {{ing.name}} * {{ing.quantityValue}} {{ing.quantity}}
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex justify-content-between gap-2">
                        <p-button label="Edit" icon="pi pi-pencil" (onClick)="editTheRecipe(recipe)"></p-button>
                        <p-button label="Delete" icon="pi pi-trash" styleClass="p-button-secondary" class="z-1"
                            (onClick)="$event.stopPropagation(); deleteRecipe(recipe.id, $event)"></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <ng-template #chageSearchParams>
        <h2>There is no Data Present Please change your Search Params</h2>
    </ng-template>
</div>
<ng-template #noData class="flex justify-content-center align-item-center w-screen h-screen">
    <p-progressSpinner ariaLabel="loading" *ngIf="loading; else message"
        class="flex justify-content-center align-item-center w-screen h-screen"></p-progressSpinner>
    <ng-template #message>
        <h2>There is no Data Present Please add some Data</h2>
    </ng-template>
</ng-template>